@{
    ViewData["Title"] = "Alejandria WEB";
}
@section Styles{
     <link rel="stylesheet" href="~/css/JCard.css" />
}
     <div class="app-container">
         <div class="jcard" data-toggle="tooltip" title="Inventario">
             <div class="icon">
                 <img src="~/images/inventory.svg" alt="inventario" role="img" />
             </div>
             <div class="title">
                 <h2>Inventario</h2>
             </div>
         </div>
         <div class="jcard" data-toggle="tooltip" title="Torneos">
             <div class="icon">
                 <img src="~/images/cup.svg" alt="Torneos" role="img" />
             </div>
             <div class="title">
                 <h2>Torneos</h2>
             </div>
         </div>
         <div class="jcard" data-toggle="tooltip" title="Listas">
             <div class="icon">
                 <img src="~/images/list.svg" alt="listas" role="img" />
             </div>
             <div class="title">
                 <h2>Listas</h2>
             </div>
         </div>
         <div class="jcard" data-toggle="tooltip" title="Inventario">
             <div class="icon">
                 <img src="~/images/inventory.svg" alt="inventario" role="img" />
             </div>
             <div class="title">
                 <h2>Inventario</h2>
             </div>
         </div>
     </div>